.experience-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.experience-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 110px;
    background-color: #cdcdcd;
    text-decoration: none;
    color: black;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, transform 0.2s;
}
    .experience-item:hover {
        background-color: #bfbfbf;
        transform: scale(1.02);
    }
    .experience-item img {
        width: 128px;
        height: 90px;
        object-fit: contain;
        margin-left: 10px;
    }

.experience-text {
    text-align: center;
    flex-grow: 1;
}

.company-name {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    position: center;
}

.position-title {
    font-size: 14px;
    margin: 0;
    position: center;
}

.employment-dates {
    font-size: 14px;
    margin-right: 10px;
}
