@media (max-width: 600px) and (orientation: portrait) {                                 /* From lightgreen to lightsalmon after about 479+119 px */     /* lightgreen has min width of about 399+99 px (the min width allowed for web browser window */
    .content-container {
    
        background-color: lightgreen;
    }
}

/* === Phone Landscape === */
@media (max-width: 900px) and (orientation: landscape) {                                /* From lightyellow to lightpink after about 719+179 px */      /* lightyellow has a min width of  about 556+138 px */
    .content-container {
    
        background-color: lightyellow;
    }
}

/* === Laptop - Quarter Screen Width (estimated <800px) === */
@media (min-width: 601px) and (max-width: 900px) and (orientation: portrait) {          /* From lightsalmon to lightyellow after about 554+138 px */        /* lightsalmon has a min width of about 481+119 px */
    .content-container {
    
        background-color: lightsalmon;
    }
}

/* === Laptop Half-Screen Width (901px - 1400px) === */
@media (min-width: 901px) and (max-width: 1400px) {                                     /* From lightpink to lightblue after about 1119+279 px */       /* lightpink has a min widht of about 721+179 px */
    .content-container {
    
        background-color: lightpink;
    }
}

/* === Laptop Full-Screen Width (>1400px) === */
@media (min-width: 1401px) {                                                            /* lightblue has a min width of about 1121+279 px */
    .content-container {
    
        background-color: lightblue;
    }
}



/* Secondary Layout (mobile): col-L hidden */
@media (max-width: 600px) {
    .ghost-container {
    
        padding: 0.3125rem;
        min-height: 15.625rem;                                      /* Adjust this as needed for spacing */

    
        display: flex;                                              /* Use flexbox for layout */
        flex-direction: column;
        align-items: center;                                        /* Center vertically */
        justify-content: center;                                    /* Center horizontally */

    
        background: transparent;                                    /* Or a light color for visualization */
        /*outline: 0.0625rem solid yellow;*/
    }

    .default {
        display: none;
    }

    .spacer-1 {
    
        display: none;
    }

    .spacer-2 {
    
        width: 100%;
        height: 0.625rem;                                           /* 10px */

    
        display: flex;
        flex-direction: column;

    
        visibility: hidden;
    }

    .spacer-3 {
    
        width: 100%;
        height: 0.625rem;                                           /* 10px */

    
        display: flex;
        flex-direction: column;

    
        visibility: hidden;
    }

    .spacer-3a {
    
        display: none;
    }

    .spacer-4 {
    
        width: 100%;
        height: 0.3125rem;                                          /* 5px */

    
        display: flex;
        flex-direction: column;

    
        visibility: hidden;
    }

    .spacer-5 {
        display: none;
    }

    .spacer-6 {
    
        width: 100%;
        height: 0.9375rem;                                          /* 15px */

    
        display: flex;
        flex-direction: column;

    
        visibility: hidden;
    }

    .col-L {
        display: none;
    }

    .col-R {
        display: flex;
        flex-direction: column;                                     /* Column */
        padding: 0.3125rem;
        min-width: 100%;
        min-height: auto;

        order: 2;
    }

    .col-1 {
        display: flex;
        flex-direction: column;                                     /* Column */
        padding: 0.3125rem;
        width: 100%;
        height: auto;
    }

    .col-2 {
        display: flex;
        flex-direction: column;                                     /* Column */
        padding: 0.3125rem;
        width: 100%;
        height: auto;
    }

    .row-1 {
        display: flex;
        flex-direction: column;                                     /* Row --> Column */
        padding: 0.3125rem;
        width: 100%;
        height: auto;
    }

    /* IMAGE 1 */
    .textbox1 {
        padding: 0.3125rem;
        text-align: left;
    }

    /* TEXTBOX 1 */
    .textbox2 {
        padding: 0.3125rem;
        text-align: left;
    }

    /* TEXTBOX 2 */
    .textbox3 {
        padding: 0.3125rem;
        text-align: left;
    }

    /* TEXTBOX 3 */
    .textbox4 {
        padding: 0.3125rem;
        text-align: left;
    }
}
